<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Search the Star Wars Database</h1>
  <select #category>
    <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
  </select>
  <input #searchBar type="text"/>
  <label>Wookie?
    <input type="radio" #wookie/>
  </label>
  <button (click)="search(wookie.checked, searchBar.value,category.value)">Search</button>
</div>
<div *ngIf="res">
  <h2>Results:</h2>
  <pre>{{res|json}}</pre>
</div>

